footer{
    width: 100%;
    height: 5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: fixed;
    top: 54.8em;
    font-size: medium;
    text-align: center;
}